body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #111;
    background: #fff;
    display: flex;
}

html {
    overflow-y: scroll;
}

html, body {
    height: 100%;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex: 1;
}

header {
    margin-bottom: 80px;
}

.site-title {
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 500;
    color: rgb(0, 0, 255);
    font-style: italic;
}

nav {
    margin-top: 16px;
}

nav a {
    margin-right: 28px;
    font-size: 14px;
    letter-spacing: 1px;
    color: rgb(0, 0, 255);
    text-decoration: none;
    font-style: italic;
}

nav a::before {
    content: "[";
}

nav a::after {
    content: "]";
}

nav a.active {
    /*color: rgb(249, 74, 120);*/
    /*color: rgb(255,70,162);*/
    color: rgb(255, 16, 240);
}

a {
    color: rgb(255, 16, 240);
    text-decoration: none;
}

h2 {
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 24px;
    font-style: italic;
}

p, li {
    font-size: 18px;
    line-height: 1.7;
    color: #777;
    max-width: 650px;
}

p {
    margin: 0 0 22px 0;
}

li {
    margin: 0 0 8px 0;
}

.entry {
    margin-bottom: 22px;
    font-size: 18px;
    line-height: 1.7;
    color: #777;
    max-width: 650px;
}

.entry em {
    font-style: italic;
    color: #888;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    text-align: center;
    font-size: 10px;
    color: #aaa;
    padding: 40px 0 20px;
    opacity: 0.6;
    margin-top: auto;
}
